.border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gameboard{
    width: 900px;
    height: 900px;
    border: 10px solid gray;
    margin: 0 auto;
    background-color: black;
}